
.footer {
    background-color: #CFD8DC;
    color: #0d0d0d;
    text-align: center;
    padding: 30px;
    margin-top: -20px;
  }

  li {
    list-style: none;
    margin: 10px;
  }


/* h2.footer-title {
    text-align: left;
    font-size: 36px;
} */

p.footer-paragraph {
    text-align: left;
    line-height: 2;    
    margin-top: 20px;   
 }


.glyphicon {
  margin-right: 10px; 
}
