.gallary {
  background-image: url('/public/Gallary.jpg');
  background-size: cover; 
  background-position: center; 
  height: 600px; 
  margin-bottom: 20px;
  background-attachment: fixed;
  background-color: #ECEFF1;
}

.gallary-image {
  text-align: center;
  color: #fff;
  padding: 30px;
}

p.gallary-paragh {
  margin: 0%;
  font-family: "Sofia", sans-serif;
  font-size: 25px; 
}




